{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form action="{% url 'search' %}" method="GET">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="form-group">
                                <select class="form-control search-fields" name="city">
                                    <option selected="true" disabled="disabled">City</option>
                                    {% for city in city_search %}
                                    <option value="{{city}}">{{city}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="form-group">
                                <select class="form-select" name="amenity" multiple>
                                    <option selected="true" disabled="disabled">Amenities</option>
                                    {% for amenity in amenities %}
                                        <option value="{{amenity}}">{{amenity}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="form-group">
                                <div class="range-slider">
                                    <div data-min="0" data-max="15000" data-min-name="min_price"
                                        data-max-name="max_price" data-unit="₹" class="range-slider-ui ui-slider"
                                        aria-disabled="false">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <button class="btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Hotels</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for hotel in hotels %}
            <div class="col-lg-6 col-md-6">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="{% url 'hotel_detail' hotel.id %}" class="car-img">
                            <!-- <div class="tag">For Rent</div> -->
                            <div class="price-box">
                                <span>₹{{hotel.price | intcomma}}</span>
                            </div>
                            <img class="d-block w-100" src="{{hotel.hotel_photo.url}}" alt="car"
                                style="min-height: 262px; max-height:262px;">
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{hotel.hotel_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{hotel.hotel_photo.url}}">
                                        </a>
                                        {% if single_hotel.hotel_photo_1 %}
                                        <a href="{{hotel.hotel_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if single_hotel.hotel_photo_2 %}
                                        <a href="{{hotel.hotel_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if single_hotel.hotel_photo_3 %}
                                        <a href="{{hotel.hotel_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if single_hotel.hotel_photo_4 %}
                                        <a href="{{hotel.hotel_photo_4.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_4.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'hotel_detail' hotel.id %}">{{ hotel.hotel_name }}</a>
                        </h1>
                        <div class="location" style="min-height: 50px; max-height:50px;">
                            <a href="{% url 'hotel_detail' hotel.id %}">
                                <i class="flaticon-pin"></i>{{ hotel.address }},
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->


{% endblock %}