{% extends 'base.html' %}

{% block title %} | Home {% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg" >
                <img class="d-block w-100 h-100" src="{% static '/img/hotel2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdGVsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="https://images.unsplash.com/photo-1564501049412-61c2a3083791?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aG90ZWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="" >
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected="true" disabled="disabled">City</option>
                        {% for city in city_search %}
                            <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                    <label>Price</label>
                    <div data-min="0" data-max="15000" data-min-name="min_price" data-max-name="max_price"
                        data-unit="₹" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Recommendations</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for hotel in all_hotels %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'hotel_detail' hotel.id %}" class="car-img">
                            <div class="tag">10% OFF</div>
                            <img class="d-block w-100" src="{{hotel.hotel_photo.url}}" alt="car" style="min-height: 262px; max-height:262px;">
                            <!-- <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>4,000 km
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2020
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>Manual
                                    </li>
                                </ul>
                            </div> -->
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{hotel.hotel_photo.url}}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{hotel.hotel_photo.url}}">
                                        </a>
                                        {% if hotel.hotel_photo_1 %}
                                        <a href="{{hotel.hotel_photo_1.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_1.url}}">
                                        </a>
                                        {% endif %}
                                        {% if hotel.hotel_photo_2 %}
                                        <a href="{{hotel.hotel_photo_2.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_2.url}}">
                                        </a>
                                        {% endif %}
                                        {% if hotel.hotel_photo_3 %}
                                        <a href="{{hotel.hotel_photo_3.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_3.url}}">
                                        </a>
                                        {% endif %}
                                        {% if hotel.hotel_photo_4 %}
                                        <a href="{{hotel.hotel_photo_4.url}}" class="hidden">
                                            <img class="hidden" src="{{hotel.hotel_photo_4.url}}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail" style="min-height: 100px; max-height:110px;">
                        <h1 class="title">
                            <a href="{% url 'hotel_detail' hotel.id %}">{{hotel.hotel_name}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'hotel_detail' hotel.id %}">
                                <i class="flaticon-pin"></i>{{hotel.address}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <!-- <div class="pull-left ratings days">
                            <p class="cartype">Sedan</p>
                        </div> -->
                        <div class="pull-right">
                            <p class="price">₹{{hotel.price | intcomma}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Rent car end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->


{% endblock %}